.telegram-activity {
}

// 投票
.telegram-vote {
  background: #e9f0f6;
  padding: 0.36rem;
  position: relative;
  .baby-number {
    position: absolute;
    top: 0.56rem;
    left: 0.16rem;
    background: #2ab6c8;
    color: #ffffff;
    padding: 0.14rem;
  }

  .baby-card {
    background: #ffffff;
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.16);
    border-radius: 0.12rem;
    overflow: hidden;
  }

  .img-box {
    font-size: 0;
    & > img {
      width: 100%;
    }
  }

  .baby-info {
    font-size: 0.28rem;
    color: #333333;
    padding: 0.22rem 0.3rem;
    overflow: hidden;

    .baby-name {
      float: left;
    }

    .vote-info {
      float: right;
    }

    .current-poll {
      display: inline-block;
      margin-right: 0.3rem;
    }

    .ranking {
      display: inline-block;
    }
  }

  .btn {
    display: block;
    background: #2ab6c8;
    border-radius: 100px;
    font-size: 0.32rem;
    color: #ffffff;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    margin-top: 0.4rem;

    &.btn-disable{
      background: #BCE0E4;
    }
  }


}

//活动
.activity-desc {
  padding: 0.6rem 0.4rem;
  background: #fff;
  > h3 {
    font-size: 0.36rem;
    color: #666666;
    margin-bottom: 0.4rem;
  }

  > p {
    font-size: 0.28rem;
    color: #999999;
    text-align: left;
    margin-bottom: 0.2rem;
  }
}
