<!DOCTYPE html>
<html lang="en">
<head>
    <!--zzc静态资源引入-->
    @include('m.public.header')
    <title>缤纷2018</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="telegram-activity">
        <div class="telegram-vote">
            <span class="baby-number">宝宝编号：1231231231</span>
            <div class="baby-card">
                <div class="img-box"></div>
                <div class="baby-info">
                    <span class="baby-name">金宝宝</span>
                    <div class="vote-info">
                        <p class="current-poll"><span class="">当前票数：</span><span class="J-currentPollNum"></span></p>
                        <p class="ranking"><span class="">排名：</span><span>9</span></p>
                    </div>
                </div>
            </div>
            <a href="javascript:;" class="btn btn-vote J-voteBtn">
                为TA投票
            </a>
        </div>
        <div class="activity-desc">
            <h3 class="desc-title">活动说明</h3>
            <p>1、活动时间：2018年3月20日-2018年5月1日</p>
            <p>2、奖品设置：票数第1名：日本7日游／票数第2名：香港7日游／票数第3名：香港3日游</p>
            <p>3、任何刷票、买票等行为，均会被取消参赛资格</p>
            <p>4、缤纷2018年度宝贝活动组具有活动的最终解释权</p>
        </div>
    </div>
</body>
<script>
    window.serverData = {};
</script>
<script src="//m.zuzuche.com/js/zepto-all.min.js"></script>
<script src="//m.zuzuche.com/js/fastclick.script.js"></script>
<script src="../js/index.js"></script>

<!--统计-->
@include('m.public.bottom')
@include('m.public.tj')
</html>
