<!DOCTYPE html>
<html lang="en">
<head>
    <!--zzc静态资源引入-->
    @include('m.public.header')
    <title>缤纷2018</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="test">
        测试
    </div>
</body>
<script>
    window.serverData = {};
</script>
<script src="//m.zuzuche.com/js/zepto-all.min.js"></script>
<script src="//m.zuzuche.com/js/fastclick.script.js"></script>
<script src="../js/index.js"></script>

<!--统计-->
@include('m.public.bottom')
@include('m.public.tj')
</html>
