/**
 * Created by Robin Hsu on 16/7/25.
 * filePath: sass/license.scss
 * Last edited by Robin Hsu on 16/8/12.
 */

@import "reset";
@import "common";
@import "animation";
@import "header";
@import "selected";
@import 'licenseConfirm';

.tidl {
  &-form-box {
    background: #ffffff;
    margin: 0.2rem 0 0;
    padding: 0 0.3rem;

    li {
      div {
        border-bottom: 1px solid #d3d3d3;
        line-height: 1rem;
        height: 1rem;
        position: relative;

        label {
          display:inline-block;
          font-size: 0.28rem;
          color: #999999;
          i {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            
            span {
              display: block;
            }
          }
        }

        input {
          color: #333333;
          font-size: 0.28rem;
          padding: 0 0 0 0.2rem;
          margin: 0 0 0 0.2rem;
          border-left: 1px solid #d3d3d3;
          line-height: 0.4rem;

          &:disabled {
            background: #ffffff;
          }

          &.black:disabled {
            -webkit-text-fill-color:#333333;
          }
        }
        .driving_licence{
          width: 3.96rem;
        }
        &.select::after {
          @extend %arrow;
          right: 6px;
        }
      }

      > span {
        display: none;
        color: #fe6270;
        font-size: 0.24rem;
        height: 0.24rem;
        line-height: 0.24rem;
        margin: 0.08rem 0 0;
      }
      .is_driving_licence{  
        position: absolute;
        right: 0;
        top: 0;
        text-decoration: underline;
      }
      &:last-child {
        div {
          border-bottom: 0;
        }
      }

      &.error {
        div {
          border-bottom: 1px solid #fe6270;
        }
        span {
          display: block;
        }

        &:last-child {
          span {
            height: 0.6rem;
          }
        }
      }

      &.focus {
        div {
          border-bottom: 1px solid #3555ba;
        }
      }
    }
  }

  &-basic {
    label {
      width: 1.14rem;
    }
    input {
      width: 5.48rem;
      &:disabled {
        padding: 0 0.3rem 0 0.2rem;
      }
    }
  }

  &-util {
    label {
      width: 1.7rem;
    }
    input {
      width: 4.92rem;
    }
  }

  &-btn {
    margin: 0.2rem 0 0;
    height: 1rem;
    line-height: 1rem;
    background: #e00346;
    text-align: center;
    font-size: 0.32rem;
    color: #ffffff;
  }
}
// --纯阳-驾照视例
.driving_exemple_box{
   color: #333;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
  .driving_exemple{
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    width: 7rem;
    background: #fff;
    margin: auto;
    text-align: center;
    border-radius: 7px;
    transform: translateY(-50%);
  }
  h4{
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.32rem;
  }
  img{
    width: 6.4rem;
    margin: 0 auto;
  }
  button{
    font-size: 0.32rem;
    width: 2.4rem;
    height: 0.6rem;
    margin-top: 0.2rem;
    margin-bottom: 0.26rem;
    color: #4e7cdd;
    background: #fff;
  }

}

.gold-manage{
  .tidl-btn{
    margin: 0.2rem 0.3rem;
    height: 0.8rem;
    line-height: 0.8rem;
    background: #FF721F;
  }

  .timepicker-caption{
    background-color:  #ff721f !important;
  }

  .timepicker-column .current-option{
    color:  #ff721f;
  }

  .timepicker-confirm-btn{
    background-color:  #ff721f !important;
    border-bottom: 2px solid #ff721f;
  }

  .driving_exemple_box button{
    color:  #ff721f;
  }

  .tidl-form-box li div input{
    color:#272727;
  }

  .tidl-form-box li.focus div {
    border-bottom: 1px solid #d3d3d3;
  }

  .license-confirm-box .btn-group .highlight {
    color: #ff721f;
  }

  .license-confirm-box,.license-confirm-box .info-tip{
    color:#272727;   
  }

}


/*平安好车主*/
.pingan-driver{
  .tidl-btn{
    margin: 0.2rem 0.3rem;
    height: 0.8rem;
    line-height: 0.8rem;
    background: #FF721F;
  }

  .timepicker-caption{
    background-color:  #ff721f !important;
  }

  .timepicker-column .current-option{
    color:  #ff721f;
  }

  .timepicker-confirm-btn{
    background-color:  #ff721f !important;
    border-bottom: 2px solid #ff721f;
  }

  .driving_exemple_box button{
    color:  #ff721f;
  }

  .tidl-form-box li div input{
    color:#272727;
  }

  .tidl-form-box li.focus div {
    border-bottom: 1px solid #d3d3d3;
  }

  .license-confirm-box .btn-group .highlight {
    color: #ff721f;
  }

  .license-confirm-box,.license-confirm-box .info-tip{
    color:#272727;
  }

}